@charset "UTF-8";
    
    html {
        font-size: 100%;
    }

@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    
    .main-nav li {
        margin: 0 20px;
    }
    
    .home-content {
        margin-top: 20%;
        
    }
    
}
    
.section {
    margin-top: 50px;
}    


body{
   font-family: 'Dovemayo_gothic', sans-serif;
	font-size: 100%;
    line-height: 1.7;
    color: #432;
    background: #010006;
    
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%
}

.logo {
    width: 150px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a{
    color: white;
}

.main-nav a:hover {
    color: #0bd;
}


.page-header {
    display: flex;
    justify-content: space-between;
}


.wrapper {
    
	color: white;
	max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.home-content {
    text-align: center;
    margin-top: 10%;
}


.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
    margin-top: 6%
        margin-bottom: 50px;
}
    /* 아이콘 스타일 */
     /*#kakao-channel-icon {
      position: fixed;
      right: 20px;
      bottom: 20px;
      z-index: 9999;
      width: 100px;
      height: 100px;
      text-align: center;
      line-height: 50px;
      color: #FFFFFF;
      font-size: 24px;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    /* 아이콘 이미지 스타일 */
    /* #kakao-channel-icon img {
      background-color: transparent;
    }
.kakao_ad{
    width: 320px;
    margin: 0 auto;
}

.kakao_ad2{
    width: 320px;
    margin: 0 auto;
}
.coupang_ad {
    width: 320px;
    margin: 0 auto;
}*/

footer {
     text-align: center;
    padding: 26px 0;
}

footer p {
    font-size: 0.875rem;
}